body {
  max-height: 400px;
  background-color: lightgray;
  font-size: 14px;
  max-width: 595px;
}

#kaktus-sidebar {
  background: #999;
  width: 126px;
  height: 425px;
  left: 0.5%;
  top: 0.5%;
  position: fixed;
  border-radius: 10%;
}
#kaktus-sidebar img {
  border-radius: 10%;
  border: solid 3px #2890ac;
  margin-bottom: 5%;
  -webkit-transition: 2s;
  /* Safari 3.1 to 6.0 */
  transition: 2s;
}
#kaktus-sidebar img:hover {
  -webkit-transition: 2s;
  transition: 2s;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 2s;
  transition: 2s;
}
#kaktus-sidebar .navigation {
  display: flex;
  flex-wrap: wrap;
}
#kaktus-sidebar .navigation .blc-onglets {
  width: 128px;
  text-align: justify;
}
#kaktus-sidebar .navigation .blc-onglets a {
  color: #2890ac;
  text-decoration: none;
}
#kaktus-sidebar .navigation .blc-onglets a:hover {
  color: darkslategray;
}
#kaktus-sidebar .navigation .blc-onglets span {
  font-size: 11px;
  text-transform: uppercase;
}
#kaktus-sidebar .navigation .blc-onglets .pills-link {
  display: block;
  width: 105px;
  padding: 3px 2px;
  border: solid 1px darkslategrey;
  border-radius: 10%;
  margin: 2.5% auto;
  background-color: white;
}
#kaktus-sidebar .navigation .blc-onglets .active {
  color: #fff !important;
  background-color: #2890ac;
}
#kaktus-sidebar .navigation .blc-onglets .fas, #kaktus-sidebar .navigation .blc-onglets .far {
  margin-right: 7px;
  margin-left: 1px;
  font-size: 14px;
}
#kaktus-sidebar .navigation .blc-onglets .fab {
  margin-right: 10px;
  margin-left: 1px;
  font-size: 14px;
}
#kaktus-sidebar .navigation .blc-onglets .fa-hiking {
  margin-right: 10px;
}

.tab-content {
  position: absolute;
  left: 140px;
  top: 3px;
  border-radius: 5%;
  width: 450px;
  height: 425px;
  background-color: white;
  padding: 1%;
}
.tab-content .tc-name {
  font-size: 30px;
  color: darkslategrey;
  text-align: center;
  font-family: "Fredericka the Great", cursive;
  text-shadow: 1px 1px 1px #2890ac;
  margin-bottom: 5px;
  letter-spacing: 2px;
}
.tab-content .tipspoint {
  text-align: center;
  margin-bottom: 10px;
}
.tab-content .tipspoint .badge {
  padding: 3px;
  margin: 5px;
  width: 85px;
  font-family: "Neucha", cursive;
  letter-spacing: 2px;
  background-image: linear-gradient(90deg, #2b4d82, #2890ac);
}
.tab-content .blocdescri {
  width: 430px;
  margin: auto;
  border-radius: 0.25rem;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.tab-content .blocdescri .descri-titre {
  padding: 0.2rem 0 0 0.5rem;
  margin-bottom: 0;
  background-image: linear-gradient(90deg, #2b4d82, #2890ac);
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-family: "Neucha", cursive;
  border-radius: 0.25rem 0.25rem 0 0;
  line-height: 16px;
}
.tab-content .blocdescri .descri-corps {
  flex: 1 1 auto;
  height: 85px;
  overflow: auto;
  padding: 0.5rem;
  font-size: 11px;
  margin-bottom: 15px;
  text-align: justify;
}
.tab-content .blocdescri .descri-corps .perso-ava {
  text-align: right;
  font-size: 9px;
  margin-top: -5px;
}
.tab-content .grid-tc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(50px, auto);
  width: 430px;
  margin: 5px auto;
}
.tab-content .grid-tc .badge-arene {
  grid-column: 1/3;
  grid-row: 1;
  width: 270px;
  border-radius: 0.25rem;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.tab-content .grid-tc .badge-arene .badge-titre {
  padding: 0.2rem 0 0 0.5rem;
  margin-bottom: 0;
  background-image: linear-gradient(90deg, #2b4d82, #2890ac);
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-family: "Neucha", cursive;
  border-radius: 0.25rem 0.25rem 0 0;
  line-height: 16px;
}
.tab-content .grid-tc .badge-arene .badge-corps {
  flex: 1 1 auto;
  height: 35px;
  padding: 0.5rem;
  font-size: 11px;
  margin-bottom: 15px;
  text-align: justify;
}
.tab-content .grid-tc .badge-arene .badge-corps .badge-text {
  margin-bottom: 0;
}
.tab-content .grid-tc .badge-arene .badge-corps .bloc-arene {
  margin-left: 7px;
}
.tab-content .grid-tc .badge-arene .badge-corps .bloc-arene img {
  margin-top: -5px;
  margin-right: 2px;
}
.tab-content .grid-tc .badge-arene .badge-corps .bloc-arene .bad2 {
  margin-left: 7px;
}
.tab-content .grid-tc .badge-arene .badge-corps .bloc-arene .nope {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.tab-content .grid-tc .badge-arene .badge-corps .bloc-arene2 {
  margin-left: -2px;
}
.tab-content .grid-tc .badge-arene .badge-corps .bloc-arene2 img {
  margin-top: -1px;
  margin-right: 2px;
}
.tab-content .grid-tc .badge-arene .badge-corps .bloc-arene2 .bad2 {
  margin-left: 8px;
}
.tab-content .grid-tc .badge-arene .badge-corps .bloc-arene2 .bad3 {
  margin-left: -5px;
  margin-right: 3px;
}
.tab-content .grid-tc .badge-arene .badge-corps .bloc-arene2 .nope {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.tab-content .grid-tc .badge-arene .badge-corps .bloc-arene3 {
  margin-left: 10px;
}
.tab-content .grid-tc .badge-arene .badge-corps .bloc-arene3 img {
  margin-top: -3px;
  margin-right: 2px;
}
.tab-content .grid-tc .badge-arene .badge-corps .bloc-arene3 .nope {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.tab-content .grid-tc .date-cs {
  grid-column: 3;
  grid-row: 1/3;
  width: 150px;
  border-radius: 0.25rem;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.tab-content .grid-tc .date-cs .date-cs-titre {
  padding: 0.2rem 0 0 0.5rem;
  margin-bottom: 0;
  background-image: linear-gradient(90deg, #2b4d82, #2890ac);
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-family: "Neucha", cursive;
  border-radius: 0.25rem 0.25rem 0 0;
  line-height: 16px;
}
.tab-content .grid-tc .date-cs .date-cs-corps {
  flex: 1 1 auto;
  height: 145px;
  padding: 0.5rem;
  font-size: 11px;
  line-height: 18px;
  text-align: justify;
}
.tab-content .grid-tc .date-cs .date-cs-corps .date-cs-text {
  margin-bottom: 0;
}
.tab-content .grid-tc .banque {
  grid-column: 1;
  grid-row: 2;
  width: 105px;
  border-radius: 0.25rem;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.tab-content .grid-tc .banque .banque-titre {
  padding: 0.2rem 0 0 0.5rem;
  margin-bottom: 0;
  background-image: linear-gradient(90deg, #2b4d82, #2890ac);
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-family: "Neucha", cursive;
  border-radius: 0.25rem 0.25rem 0 0;
  line-height: 16px;
}
.tab-content .grid-tc .banque .banque-corps {
  flex: 1 1 auto;
  height: 45px;
  padding: 0.5rem;
  font-size: 11px;
  line-height: 20px;
  text-align: justify;
}
.tab-content .grid-tc .banque .banque-corps .banque-text {
  margin-bottom: 0;
}
.tab-content .grid-tc .banque .banque-corps .banque-text span {
  margin-left: 36px;
  font-style: italic;
}
.tab-content .grid-tc .date-obj {
  grid-column: 2;
  grid-row: 2;
  width: 155px;
  border-radius: 0.25rem;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-right: 5px;
}
.tab-content .grid-tc .date-obj .date-obj-titre {
  padding: 0.2rem 0 0 0.5rem;
  margin-bottom: 0;
  background-image: linear-gradient(90deg, #2b4d82, #2890ac);
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-family: "Neucha", cursive;
  border-radius: 0.25rem 0.25rem 0 0;
  line-height: 16px;
}
.tab-content .grid-tc .date-obj .date-obj-corps {
  flex: 1 1 auto;
  height: 45px;
  padding: 0 0.5rem;
  font-size: 11px;
  line-height: 18px;
  text-align: justify;
}
.tab-content .grid-tc .date-obj .date-obj-corps .date-obj-text {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
