/* VARIABLES */
$color-main : rgb(25, 25, 112);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-degrade: linear-gradient(90deg, rgb(43, 77, 130), rgb(40, 144, 172));
$color-validate: rgb(0, 179, 41);
$color-fail: rgb(138, 0, 0);
$color-progress: rgb(1, 122, 131);
$color-no: grayscale(100%);

body {
    background-color: transparent;
    font-size: 14px;
    max-width: 596px;
    //border: 1px solid red;
    min-height: 550px;
}

/* PARTIE SIDEBAR */
$width-sidebar: 135px;

#kaktus-sidebar {
    width: $width-sidebar;
    height: 550px;
    left: 0.5%;
    top: 1.5%;
    position: fixed;
    border-radius: 10%;

    img {
        height: 200px;
        width: $width-sidebar;
        border-radius: 10%;
        border: solid 2px $color-black;
        margin-bottom: 15px;
        -webkit-transition: 2s; /* Safari 3.1 to 6.0 */
        transition: 2s;

        &:hover {
            -webkit-transition: 2s; 
            transition: 2s;
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg); 
            transform: rotate(360deg);
            -webkit-filter: grayscale(100%);filter: grayscale(100%);
            -webkit-transition: 2s;
            transition: 2s;
        }
    }

    .navigation {
        display: flex;
        flex-wrap: wrap;

        .blc-onglets {
            width: $width-sidebar;

            a {
                color: $color-main;
                text-decoration: none;

                &:hover {
                    color: $color-black;
                }
            }

            span {
                font-size:11px;
                text-transform: uppercase;

            }

            .pills-link {
                display: block;
                width: 135px;
                padding: 4px 10px;
                border: solid 1px $color-black;
                border-radius: 20px;
                margin: 3.4% auto;
            }

            .active {
                color: #fff !important;
                background-color: $color-main;
            }

            .fas, .far {
                margin-right:7px;
                margin-left:1px;
                font-size:12px;
            }
            .fab {
                margin-right:10px;
                margin-left:1px;
                font-size:14px;
            }
            .fa-hiking {
                margin-right:10px;
            }
            
        }
    }
}
/* DEBUT GENERAL DES CONTENUS */
.content-tc {
    position: absolute;
    left: 150px;
    width: 455px;
    padding: 8px 5px 5px 5px;

 /* FIN DE LA PARTIE GENERALE DES CONTENUS */

    /* DEBUT DE LA PARTIE CONCERNANT LES INFORMATIONS GENERALES SUR LE PERSONNAGE */

    .perso-ident {
        justify-content: center;
        width: 420px;
        font-size: 15px;
        color: white;
        font-family: "Neucha", cursive;
        letter-spacing: 1px;
        text-align: center;
        background-image: $color-degrade;
        border-radius: 10px;
        padding-top: 3px;
        margin: 12px auto;

        .fas {
            margin-left: 10px;
            margin-top: 2px;
            margin-right: 10px;
        }
    }
    .perso {
        display: flex;
        width: 415px;
        margin: 12px auto;
        justify-content: space-between;
        padding: 2px 0 1px;

        .sprite {
            border-radius: 5px;
            border: solid 1px $color-black;
            width: 100px;
            justify-content: center;

            &:hover {
                -webkit-transition: 2s; 
                transition: 2s;
                -ms-transform: rotate(360deg);
                -webkit-transform: rotate(360deg); 
                transform: rotate(360deg);
                -webkit-filter: grayscale(100%);filter: grayscale(100%);
                -webkit-transition: 2s;
                transition: 2s;
            }
        }

        .perso-infos {
            height: 102px;
            width: 300px;
            overflow: auto;
            border-radius: 5px;
            border: solid 1px $color-black;
            padding: 5px 5px;
            font-size: 11px;

            span {
                color: #2890ac;
            }
        }
    }

    .blocdescri {
        width: 415px;
        margin: 15px auto;
        background-clip: border-box;
        padding: 2px 0 1px;

        .descri-corps {
            flex: 1 1 auto;
            height: 228px;
            overflow: auto;
            padding: 5px 10px 5px 5px;
            font-size:11px;
            text-align: justify;
            border-radius: 10px;
            border: 1px solid $color-black;

            .titre {
                color: darkblue;
                text-transform: uppercase;
                font-size: 14px;
            }

            .perso-ava {
                text-align:right;
                font-size:9px;
                margin-top: -5px;
            }

            .nope {
                filter: $color-no;
            }

            .arenebadge {
                padding: 0 5px 0 0;
            }
        }
    }
    
    .bloc-card {
        display: flex;
        width: 420px;
        margin: 5px auto 15px;
        justify-content: space-between;

        .infos {
            width: 185px;
            border-radius: 10px;
            border: 1px solid $color-black;
            padding: 5px;
            font-size:11px;
            text-align: justify;
            height: 122px;
            overflow: auto;

            a {
                margin-left: 12px;
            }

            hr {
                margin-top: 8px;
                margin-bottom: 8px;
                border-color: $color-main;
            }

            p {
                margin: 0;
                font-style: italic;
            }

            .title {
                font-weight: lighter;
                font-style: italic;
            }

            a {
                color: darkblue;

                &:hover, &:focus {
                    text-decoration: none;
                    color: lightpink;
                }
            }
        }

        .img-card {
            width: 225px;

            img{
                border-radius: 10px;
                border: 1px solid $color-black;
            }
        }
    }
    /* FIN DE LA PARTIE CONCERNANT LES INFOS GENERALES SUR LE PERSONNAGE */

    /* DEBUT DE LA PARTIE CONCERNANT LES POKEMONS */

    .content-pkmn {
        width: 420px;
        margin: 10px auto;

        .nav-link {
            display: block;
            padding: 1px 3px;
            margin-top: 2px;

            &.active {
                border-bottom: solid 2px $color-main;
                background-color: transparent;
                border-radius: 15px;
            }
        }

        .nav {
            justify-content: center;
            height: 100px;
            overflow: auto;
            border: solid 1px $color-black;
            border-radius: 5px;
            padding: 5px 0;
        }
        .grid-pkmn {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
            grid-auto-rows: minmax(10px, auto);

            .pkmn-espece {
                display: flex;
                justify-content: center;
                grid-column: 1/5;
                grid-row: 1;
                font-size: 16px;
                color: white;
                font-family: "Neucha", cursive;
                letter-spacing: 1px;
                text-align: center;
                background-image: $color-degrade;
                border-radius: 10px;
                padding-top: 3px;
                margin: 0 2px auto 2px;

                .fas {
                    margin-left: 10px;
                    margin-top: 2px;
                    margin-right: 10px;
                }

                .type {
                    height: 17px;
                    width: 19px;
                    margin: 2px 0 2px 10px;
                    border: solid 1px $color-black;
                    border-radius: 10px;
                }
            }

            .sprite {
                border-radius: 5px;
                border: solid 1px $color-black;
                width: 102px;
                display: flex;
                justify-content: center;
                grid-column: 1;
                grid-row: 2;
            }

            .pkmn-infos {
                height: 102px;
                overflow: auto;
                grid-column: 2/5;
                grid-row: 2;
                border-radius: 5px;
                border: solid 1px $color-black;
                padding: 6px 5px;
                font-size: 11px;

                span {
                    color: #2890ac;
                }
            }

            .stats-pkmn {
                grid-column: 1/3;
                grid-row: 3;
                border-radius: 5px;
                border: solid 1px $color-black;
                font-size: 10px;
                height: 150px;
                overflow: auto;
                letter-spacing: 1px;
                padding: 0 0 2px 6px;

                div {
                    color: #63b3d9;
                    font-size: 11px;
                    text-transform: uppercase;
                    text-align:center;
                }

                span {
                    color: $color-main;
                }
            }

            .atk-pkmn {
                grid-column: 3/5;
                grid-row: 3;
                border-radius: 5px;
                border: solid 1px $color-black;
                padding: 0 5px;
                height: 150px;
                overflow: auto;

                div {
                    &:first-of-type, &:last-of-type {
                        color: $color-main;
                        font-size: 11px;
                        text-transform: uppercase;
                        text-align:center;
                    }
                }

                span {
                    padding-left: 5px;
                    display: block;
                    margin: 2px 0;
                    font-size: 11px;

                    &.acier {border-left:5px solid #adadc6;}
                    &.combat {border-left:5px solid #a55239;}
                    &.dragon {border-left:5px solid #8858f6;}
                    &.eau {border-left:5px solid #399cff;}
                    &.electrik {border-left:5px solid #ffc631;}
                    &.fee {border-left:5px solid #E09AE3;}
                    &.feu {border-left:5px solid #f75231;}
                    &.glace {border-left:5px solid #5acee7;}
                    &.insecte {border-left:5px solid #adbd21;}
                    &.normal {border-left:5px solid #ada594;}
                    &.plante {border-left:5px solid #7bce52;}
                    &.poison {border-left:5px solid #b55aa5;}
                    &.psy {border-left:5px solid #ff73a5;}
                    &.roche {border-left:5px solid #bda55a;}
                    &.sol {border-left:5px solid #d6b55a;}
                    &.spectre {border-left:5px solid #6363b5;}
                    &.tenebres {border-left:5px solid #735a4a;}
                    &.vol {border-left:5px solid #9cadf7;}
                }
            }

            .rela-pkmn {
                grid-column: 1/5;
                grid-row: 4;
                border-radius: 5px;
                border: solid 1px $color-black;
                height: 70px;
                padding: 8px 15px;
                overflow: auto;
                letter-spacing: 6px;
                color: $color-main;
                font-size: 18px;
                text-transform: uppercase;

                img {
                    margin-left: 5px;
                    margin-top: -2px;
                }
            }
        }

    }
    /* FIN DE LA PARTIE CONCERNANT LES POKEMONS */

    /* DEBUT DE LA PARTIE CONCERNANT L'INVENTAIRE */

    /* Inventaire */
    .Inventaire {
        clear:both;
        width:440px;
        background-clip: border-box;

        input[type=radio] {
            display:none;

            &:checked + label {
                background-image: $color-degrade;
                color: white;
            }
        }

        label {
            width:53px; 
            height:20px;
            padding: 1px 0;
            border: 1px solid $color-black;
            color: grey;
            cursor: pointer;
            text-align:center;
            font-family: 'Sirin Stencil', cursive;
            font-size:14px;
            line-height: 15px;
            border-radius: 5px;

            &:first-of-type {
                margin-left:25px;
            }
        }

    }

    .contenu-sac {
        display: none;
        width: 410px; 
        height: 200px;
        padding: 5px;
        border: 1px solid $color-black;
        border-radius : 5px;
        color: black;
        overflow: auto;
        line-height : 22px;
        font-family: 'PT Sans', sans-serif;
        font-size:10px;
        letter-spacing: 3px;
        margin: 0 18px;

        img {
            width: 25px;
            margin-right: 5px;
            margin-top: -3px;
        }

        a {
            text-decoration: none;
            color: $color-main;
        }

    }

    #balls:checked ~ #c_balls, 
    #soins:checked ~ #c_soins, 
    #rare:checked ~ #c_rare, 
    #pierre:checked ~ #c_pierre, 
    #ctcs:checked ~ #c_ctcs, 
    #baies:checked ~ #c_baies, 
    #etho:checked ~ #c_etho { display:inline-block;}

    .space_o {
    padding-left:5px;
    }
    /* Obtention / Utilisation / CEIR */
        .Obtention {
            clear:both;
            width:445px; 
            margin: 20px auto 0 auto;
    
            input[type=radio] {
                display:none;
    
                &:checked + label {
                    background-image: $color-degrade;
                    color: white;
                }
            }

            label {
                width:95px; 
                height:20px;
                padding: 1px 0;
                border: 1px solid $color-black;
                color: grey;
                cursor: pointer;
                text-align: center;
                font-family: 'Sirin Stencil', cursive;
                font-size:14px;
                line-height: 15px;
                border-radius: 5px;
                margin-left:2px;

                &:first-of-type {
                    margin-left:25px;
                }
            }
    
        }

        .contenu-obtention {
            display: none;
            width: 410px; 
            height: 200px;
            padding: 5px;
            border: 1px solid $color-black;
            border-radius : 5px;
            color: black;
            overflow: auto;
            line-height : 22px;
            font-family: 'PT Sans', sans-serif;
            font-size:10px;
            letter-spacing: 3px;
            margin: 0 18px;
    
            img {
                width: 25px;
                margin-right: 5px;
                margin-top: -3px;
            }
        }
        .contenu-obtention a {
        text-decoration: none;
        color: $color-main;
        }
    
        #obt:checked ~ #c_obt, 
        #util:checked ~ #c_util,
        #proj:checked ~ #c_proj, 
        #ceir:checked ~ #c_ceir { 
            display:inline-block;
        }
    
        .space_o {
        padding-left:5px;
        }

    /* FIN DE LA PARTIE CONCERNANT L'INVENTAIRE */

    /* PARTIE SBIRE */
    .pkmnSbire {
        margin: 15px;
    }

    .descri-mission {
        flex: 1 1 auto;
        height: 226px;
        overflow: auto;
        padding: 5px 10px 5px 5px;
        font-size:11px;
        text-align: justify;
        border-radius: 10px;
        border: 1px solid $color-black;

        .titre {
            color: $color-main;
            text-transform: uppercase;
            font-size: 12px;
        }

        .validate {
            color: $color-validate;
        }

        .fail {
            color: $color-fail;
        }

        .encours {
            color: $color-progress;
        }
    }
    /* FIN PARTIE SBIRE */
}